.colors {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 2.5rem;
  margin-inline: 9px;
  margin-top: 1rem;
  box-sizing: border-box;


  label[for="blue"] {
    background-color: var(--brand-light);
  }

  label[for="dark-blue"] {
    background-color: var(--navy);
  }

  label[for="purple"] {
    background-color: var(--purple);
  }

  label[for="fuschia"] {
    background-color: var(--fuschia);
  }

  label[for="pink"] {
    background-color: var(--pink);
  }

  label[for="dark-orange"] {
    background-color: var(--danger);
  }

  label[for="orange"] {
    background-color: var(--orange);
  }

  label[for="yellow"] {
    background-color: var(--yellow);
  }

  label[for="lime"] {
    background-color: var(--lime);
  }

  label[for="green"] {
    background-color: var(--green);
  }

  label[for="light-blue"] {
    background-color: var(--cyan);
  }
}

.cor {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

.cor input {
  position: absolute;
  inset: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.cor label {
  position: absolute;
  inset: 0;

  width: 2rem;
  height: 2rem;
  margin: 0;

  box-shadow: 0 0 0 5px #2D3136, 0 0 0 6px var(--shape-button);
  border-radius: 50%;
}

.cor input:checked+label {
  box-shadow:
    0 0 0 5px #2D3136,
    0 0 0 6px var(--shape-button),
    0 0 0 8px var(--brand-light);
}

.cor label:hover {
  box-shadow: 0 0 0 5px #2D3136, 0 0 0 6px var(--shapehover);
}

.event-wrapper {
  margin-block: 1.75rem;
}

.input-radio {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
}

.radio-inner {
  position: relative;

  display: grid;
  justify-content: center;
  text-align: center;
  gap: .5rem;

  max-width: 8.375rem;
  max-height: 6.4375rem;

  border-radius: .5rem;
  background-color: var(--shape-button);

  padding: 4px 4px 8px 4px;


  & input {
    position: absolute;
    opacity: 0;
  }

  & img {

    border-radius: .5rem;
    max-width: 7.5rem;
  }

  &:has(input:checked) {
    border: 1px solid var(--brand-light);
  }

  &:has(input:hover) {
    background-color: var(--shape-hover);
  }

}

